body {
    background-color: black;
    margin: 0;
    overflow: hidden;
}

#viewport{
    background-color: white;
}

#cmdOutContainer{
    height: 100px;
    width: auto;
    overflow: scroll;
    padding: 10px;
}

.cmdOutText{
    color: white;
    font-size: 10pt;
}

#cmdLineContainer{
    width: auto;
    padding: 5px;
}

#cmdLineInput{
    width: 90vw;
    margin: 0;
}

#StatusBarContainer{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 0;
    margin-bottom: 0;
}

.statusText{
    text-align: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10pt;
    color: white;
}

.dropdown-button{
    position: relative;
    min-width: 100px;
    
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #555555;
    min-width: 120px;
}

.dropdown-content-container{
    background-color: #555555;
}

.dropdown-content-container:hover{
    background-color: #333333;
    cursor: pointer;
}


.dropdown{
    display: inline-block;
    position: relative;
    height: 30px;
    
}

.menuText{
    text-align: center;
    justify-content: center;
    padding: 6px;
    margin: 0px;
    font-size: 10pt;
    color: white;
}